<!-- <router-outlet></router-outlet> -->
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lutete Task Bar </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="loginService.currentUserName != null">
          <a class="nav-link" routerLink="dashboard"> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">about</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUserName != null">
          <a class="nav-link" routerLink="projects">Projects</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUserName != null">
          <a class="nav-link" href="#">{{ loginService.currentUserName }}</a>
        </li>
        <li class="nav-item" *ngIf="loginService.currentUserName != null">
          <a class="nav-link" href="#" (click)="loginService.Logout()"
            >Logout</a
          >
        </li>
        <li class="nav-item" *ngIf="loginService.currentUserName == null">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <form action="" class="d-flex input-group w-auto ms-auto">
        <span class="input-group-text border-0" id="search">
          <i class="fa fa-search"> </i>
        </span>

        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-describedby="search"
        />
        &nbsp;

        <button class="btn btn-warning my-2- my-sm-0" type="button">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
